@media only screen and (max-width: 501px){
    #aboutMeCard{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    /* Divs in the tile */
    #projects > div > div > div{
        width: 100%;
        min-width: 7em;
    }
}

@media only screen and (min-width: 1000px){
    /* Divs in the tile */
    #projects > div > div > div{
        width: 50%;
        min-width: 7em;
    }
}

/* Shared CSS parts */
#cover{
    height: 100vh;

    /* Set background picture */
    background-image: url("../../../assests/images/cover/cover.jpg");
    background-position-x: 25%;
    background-size: auto 120vh;
    opacity: 0.6;

    /* overrule general section CSS */
    padding: 0;
    margin: 0;
}

#coverInfo{
    border: 2px solid gray;
    width: 70%;
    max-width: 40em;

    background: lightgrey;
    padding: 1em 2em;
    margin: 12.5% 0 0 10%;
    border-radius: 2em;

    display: flex;
    flex-direction: row;
}

#coverInfo a,
#coverInfo a:hover{
    color: black;
    text-decoration: none;
}

#coverInfo a:hover{
    font-weight: bold;
    transform: scale(1.35, 1.35);
}

/* Left and right side of the box */
#coverInfo > div{
    /* Flex equally over whole height */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* left side */
#coverInfo > div:first-child{
    text-align: right;
    font-size: min( 2.75vw, 1.62em);
    flex: 3.5;
}

#coverInfo > div:first-child > div:last-child{
    display: flex;
    justify-content: space-around;
}

/* right side */
#coverInfo > div:nth-child(3){
    flex: 5;
    height: 100%;
}

/* name */
#coverInfo > div:nth-child(3) > div:first-child{
    font-size: min( 3.5vw, 2.6em);
    font-weight: bold;
}

/* Skillset */
#coverInfo > div:nth-child(3) > div:last-child{
    font-size: min( 2.2vw, 1.65em);
    font-style: italic;
    width: 100%;

    padding-top: .5em;
    padding-left: 8%;
}

/* divider */
#coverInfo > div:nth-child(2){
    flex: 1;
}
/* divider line is inside it */
#coverInfo > div:nth-child(2) > div{
    border: 2px solid black;
    height: 100%;
    width: 0;
    margin: 0 auto;
}

/* contact me */
#coverInfo > div:nth-child(4){
    /* take whole width and center itself */
    width: 100%;
    text-align: center;

    margin-top: .3em;
    border-top: 2px solid black;
}



/* About Me section */
#aboutMe{
    /* make a CSS grid */
    /* Great article about CSS grid: https://css-tricks.com/snippets/css/complete-guide-grid/ */
    display: grid;
    grid-template-columns: minmax( 13em, 29%) auto;
    /* grid-template-rows: 55% auto; */
    grid-gap: 1.35em;
}

#aboutMeCard{
    grid-row: 1/3;
    min-width: 13em;
}

#cardButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-top: 1em;
}

#cardButtons > div{
    width: 40%;
    min-width: 5em;
    margin-bottom: .3em;
    border-radius: .4em;
    height: 2.2em;
    /* vertically centered */
    line-height: 2.2em;
    text-align: center;
    font-size: 1.15em;
    
    color: white;
    align-content: center;
}

#cardButtons > div > a{
    color: white;
    text-decoration: none;
}

#cardButtons > div > a:hover{
    font-weight: bold;
    cursor: pointer;
}

#cardButtons > div:first-child{
    background: #0d9c9f;
}
#cardButtons > div:last-child{
    background: #0d779f;
}


#aboutMeBio{
    text-align: justify;
    font-size: min( 1.9vw, 1em);
}

#aboutMeWriting{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* h3 header */
#aboutMeWriting > div:first-child{
    width: 100%;
}

#aboutMeWriting > div:nth-child(2),
#aboutMeWriting > div:nth-child(4) {
    /* font-size: min(2vw, larger); */
    font-size: larger;
    font-weight: bold;
    align-self: center;

    margin-right: 2em;
}

/* Writing */
.englishWriting,
.genWriting,
.englishWriting:hover,
.genWriting:hover,
.englishWriting a,
.genWriting a{
    font-size: min( 1.75vw, 1.05em);
    text-decoration: none;
}


/* Portfolio */
.tabs{
    margin: 0 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tabs > div{
    width: 100%;
    /* margin: 0 .5em; */
    border-radius: .7em .7em 0 0;
    font-size: 1.3em;
    text-align: center;
    border: 1px solid black;
    background-color: #0d9c9f;
    font-weight: bolder;
}

.tabs > div:hover,
.tabs > .active{
    background: #0d779f;
    cursor: pointer;
}

#projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: darkgrey;
    padding: 1%;
    border-radius: .5em;

    border: 1px solid gray;
}

#projects > div{
    width: 30%;
    height: 100%;
    padding: .3em;
    text-align: center;

    border: 1px solid lightgray;
}

#projects a:link,
#projects a:visited {
    text-decoration: none;
    color: black;
}

/* Div inside project tile */
/* name */
#projects > div > div:first-child{
    font-weight: bold;
    justify-content: center;
    font-size: larger;
}

/* More info div */
#projects > div > div:nth-child(2){
    justify-content: center;
    font-size: 0.75em;
    margin-bottom: 1em;
}

#projects > div > div:nth-child(2):hover{
    transform: scale(1.1);
    font-weight: bolder;
    cursor: pointer;
}


#projects > div > div{
    width: 100%;

    /* Nested div should be inline */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Divs in the tile */
/* Defined for specific widths */

/* Github and live demo (separete divs) */
#projects > div > div:nth-child(4) > div:hover{
    transform: scale(1.125);
    font-weight: bold;
}

#projects > div > div > img{
    width: 100%;
}

/* Stats section */
.stats{
    display: flex;
    justify-content: space-around;

    text-align: center;
    font-size: min(2.5vw, 1.75em);

    padding-top: 2em;
}

.stats span{
    font-size: min(5vw, 2.4em);
}

.counter{
    min-width: 30%;
    border-radius: .75em;
    border: 2px solid black;
}

/* Map */
/* Overwrite section padding setting */
/* Map element will take full width */
#map{
    padding: 3em 0 0 0;
}

/* Contact form */
#contactForms{
    margin: 0 auto;
    width: 50%;
    min-width: 28em;
}

#contactForms h2{
    text-align: center;
}

/* Grid template vs auto  */
/* http://bitsofco.de/understanding-the-difference-between-grid-template-and-grid-auto/ */
/* Auto is for every element and takes only 1 parameter */
/* Template is separated by spaces and is set for every col/row separetly */
#contactForms form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 10em;
    grid-column-gap: .75em;
}

#contactForms form div:first-child,
#contactForms form div:nth-child(4),
#contactForms form button {
    grid-column: 1/3;
}

#contactForms form button{
    background: #0d9c9f;
    border-color: #0d9c9f;
    font-size: 1.15em;
}
